#workoutForm {
  height: 219px;
  float: left;
  width: 75%;
  box-sizing: border-box;
}

circle.small {
  cursor: pointer;
}

#submitSection {
  padding: 12.5px 10px;
  width: 24.9%;
  height: 100%;
  float: right;
  box-sizing: border-box;
}

#submitForm {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

#submitForm > * {
  font-size: 125%;
  width: 100%;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

#submitForm > input, #submitForm > a {
  border-radius: 5px;
  padding: 12.5px 10px;
  max-width: 125%;
  margin: 15px auto;
  border: 2px solid #59761E;
}

#chart {
  float: left;
  width: 100%;
}

svg path.line {
  fill:none;
  stroke:#98CA32;
  stroke-width: 2px;
}

svg line.tickExtension {
  fill:none;
  stroke:#98CA32;
  stroke-dasharray: 10px;
  stroke-width: 1px;
}

svg circle.datapoint {
  fill: none;
  stroke: #98CA32;
  stroke-width: 2px;
}

svg text.title {
  text-anchor: middle;
  font-size: 125%;
}

@media only screen and (max-width: 1080px) {
  #submitForm * {
    font-size: 100%;
  }

  #workoutForm {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  #workoutForm {
    width: 100%;
  }
}
