<div id="home">
  {{> partials/menu}}
  <div id="workoutForm">
    <svg id="formSvg"></svg>
    <div id="submitSection" class="centerAll">
      <form id="submitForm">
        <label for="datetime">Date:</label>
        <input type="datetime" id="datetime" value="{{datetime}}">
        <a href="#home" id="addWorkoutBtn"><i class="fa fa-plus" aria-hidden="true"></i> Add Workout</a>
      </form>
    </div>
  </div>
  <div id="chart">
    <svg id="chartSvg"></svg>
  </div>
</div>