<form id="loginForm" method="POST">
  <input type="text" placeholder="Username">
  <input type="password" placeholder="Password">
  <div>
    <div>
      <a id="loginBtn"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in now</a>
       or 
      <a href="#register"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
    </div>
  </div>
</form>