<form id="registerForm" method="POST">
  <input type="text" placeholder="Username">
  <input type="password" placeholder="Password">
  <input type="password" placeholder="Confirm Password">
  <div>
    <div>
      <a id="registerBtn"><i class="fa fa-user-plus" aria-hidden="true"></i> Register now</a>
       or 
      <a href="#login"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</a>
    </div>
  </div>
</form>