<div class="menu">
  <a href="#home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  <a href="#report"><i class="fa fa-info-circle" aria-hidden="true"></i> Report</a>
  <a href="#logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
</div>