.menu {
  float: left;
  padding: 0 10px;
  width: 25%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1080px) {
  .menu {
    width: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 100%;
  }
}
