.notifications {
  float: right;
  position: absolute;
  top: 110px;
  right: 0;
}

.notifications > div {
  display: none;
  background-color: #263409;
  width: 300px;
  margin: -5px 40px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .notifications {
    top: 90px;
  }
  
  .notifications > div {
    width: 150px;
  }
}


.notifications > div > p {
  text-align: center;
  cursor: pointer;
  color: #98CA32;
  padding: 10px 15px;
}

.notifications > div.pulse {
  animation: pulse 0.5s cubic-bezier(.26,.98,.8,.97);
}

@keyframes pulse {
  0%   {transform: scale(1); background-color: #263409;}
  50%  {transform: scale(1.1)}
  100% {transform: scale(1); background-color: #263409;}
}