body {
  font-family: 'Roboto', sans-serif;
  background-color: #F1F8E2;
}

.container {
  padding: 10px 20px 10px 20px;
}

.header {
  background-color: #98CA32;
}

.header > h1 {
  text-align: center;  
  padding: 20px;
}

div.centerAll > *{
  margin: 0px auto;
}

input {
  outline: none;
}


input[type="button"], input[type="submit"]{
  padding: 10px 10px;
  background-color: #C0DF81;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #98CA32;
  cursor: pointer;
}

a {
  border-radius: 5px;
  text-align: center;
  padding: 12.5px 10px;
  display: block;
  margin: 15px auto;
  border: 2px solid #59761E;
  background-color: #C0DF81;
  font-size: 125%;
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: #98CA32;
  cursor: pointer;
}
