#registerForm input {
  border-radius: 5px;
  padding: 12.5px 10px;
  display: block;
  margin: 15px auto;
  border: 2px solid #59761E;
  font-size: 125%;
}

#registerForm > div > div {
  text-align: center;
}

#registerForm a {
  margin-top: 0px;
  display: inline-block;
}
