<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bike Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://use.fontawesome.com/5bd2ad29e9.js"></script>
</head>
<body>
  <div class="container">
    <div class="header">
        <h1><i class="fa fa-bicycle" aria-hidden="true"></i> Bike Tracker</h1>
    </div>
    <div class="content">
      <div id="view">
        {{{body}}}
      </div>
      <div class="notifications">
        <div class="notification"><p></p></div>
        <div class="notification"><p></p></div>
      </div>
    </div>
  </div>
</body>
</html>